//variables
$image : "/themes/custom/onboard_kick/assets/images/icons";


.region-secondary-menu {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}
.navigation.menu--account ul li {
  display: inline;
  //margin: auto;
  a {
    text-decoration: none;
    padding: 10px;
    background-color: #29c1e1;
    border-radius: 20px;
    color: #fff;
  }
}
.navigation.menu--account {
  //margin: auto;
}
.block-system-branding-block {
  width: 10%;
}
.menu--main .menu-item {
  display: inline-block;
  a {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #7A8288;
    padding: 10px;

    &:hover {
      color: #1a1a1a;
    }
  }
}
.myfootermenu a {
  color: #5a5454;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #0a0606;
  }
  transition: 0.2s;
}

//company icons


.field--name-field-company-website {
  width: 45%;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block;
  a {
    text-decoration: none;
    color: #1a1a1a;
  }
  a::before {
    content: url(#{$image}/web-icon.png);
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }
  &:hover {
    border: 2px solid gold;
  }
}


.field--name-field-company-email {
  width: 45%;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block;

  ::before {
    content: url(#{$image}/mail-icon.png);
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }
  &:hover {
    border: 2px solid gold;
  }
}


.field--name-field-phone-number {
  width: 45%;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block;

  ::before {
    content: url(#{$image}/phone-icon.png);
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }
  &:hover {
    border: 2px solid gold;
  }
}


.field--name-field-industry {
  width: 45%;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block;

  a {
    text-decoration: none;
    color: #1a1a1a;
  }
  a::before {
    content: url(#{$image}/data-icson.png);
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle;
  }
  &:hover {
    border: 2px solid gold;
  }
}

.field--name-field-phone-number, .field--name-field-industry, .field--name-field-company-email, .field--name-field-ompany-website {
  margin-bottom: 1%;
}
.views-wrap .image-style-event-image {
  padding: 0 0 10px 0;
}
.views-wrap {
  background-color: #fff;
  padding: 0 0 40px 0;
  margin: 0 0.5% 0 0.5%;
  width: 24% !important;
}
.layout-sidebar-second {
  width: 24%;
  display: flex;
  /*background: blue;*/
  float: right;
  margin-top: 5px;
  justify-content: center;
  align-items: center;

    a {
      text-decoration: none;
    }
}
.layout-sidebar-first {
  width: 24%;
  display: flex;
  /*background: blue;*/
  float: left;
  margin-top: 5px;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.mycompany-view .views-field-link-to-revision .field-content a{
  color: #fff;
}
.mycompany-view .views-field-link-to-revision .field-content {
  padding: 5px;
  background-color: #29c1e1;
  border-radius: 15px;
  margin: 10px;
  transition: 0.5s;

  &:hover {
    background-color: #f7931d;
  }
}
.myfootermenu {
  padding-left: 2%;

  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    line-height: 2em;
  }
  a {
    font-size: 1em;
  }
}
.more-companies {
  background-color: #29c1e1;
  text-decoration: none;
  border-radius: 25px;
  padding:10px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 2em;

  &:hover {
    background-color: #f7931d ;
  }

}
.myevents-page {
  .views-row {

    .events-views-wrap:nth-child(odd) {

      span.views-field-field-image {
        order: -1;
      }

    }
  }
}

.myevents-page .views-field-link-to-revision {
  padding: 10px;
  background-color: #29c1e1;
  border-radius: 25px;
  margin: 10px 10px 27px 10px;
  transition: 0.5s;
    a {
      color: #fff;
    }
  &:hover {
    background-color: #f7931d;
  }

}

.myevents-page {

  .views-field-title {
    font-size: 1.5em;
    a {
      color: #23282F;
    }
  }

  .views-field-body {
    width: 80%;
    padding-bottom: 1em;
      p {
        color: #6F7379;
      }
  }

}
