.region-secondary-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: auto; }

.navigation.menu--account ul li {
  display: inline; }
  .navigation.menu--account ul li a {
    text-decoration: none;
    padding: 10px;
    background-color: #29c1e1;
    border-radius: 20px;
    color: #fff; }

.block-system-branding-block {
  width: 10%; }

.menu--main .menu-item {
  display: inline-block; }
  .menu--main .menu-item a {
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #7A8288;
    padding: 10px; }
    .menu--main .menu-item a:hover {
      color: #1a1a1a; }

.myfootermenu a {
  color: #5a5454;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s; }
  .myfootermenu a:hover {
    color: #0a0606; }

.field--name-field-company-website {
  width: 45%;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block; }
  .field--name-field-company-website a {
    text-decoration: none;
    color: #1a1a1a; }
  .field--name-field-company-website a::before {
    content: url(/themes/custom/onboard_kick/assets/images/icons/web-icon.png);
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle; }
  .field--name-field-company-website:hover {
    border: 2px solid gold; }

.field--name-field-company-email {
  width: 45%;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block; }
  .field--name-field-company-email ::before {
    content: url(/themes/custom/onboard_kick/assets/images/icons/mail-icon.png);
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle; }
  .field--name-field-company-email:hover {
    border: 2px solid gold; }

.field--name-field-phone-number {
  width: 45%;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block; }
  .field--name-field-phone-number ::before {
    content: url(/themes/custom/onboard_kick/assets/images/icons/phone-icon.png);
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle; }
  .field--name-field-phone-number:hover {
    border: 2px solid gold; }

.field--name-field-industry {
  width: 45%;
  border: 2px solid lightgray;
  padding: 1em;
  display: inline-block; }
  .field--name-field-industry a {
    text-decoration: none;
    color: #1a1a1a; }
  .field--name-field-industry a::before {
    content: url(/themes/custom/onboard_kick/assets/images/icons/data-icson.png);
    border-right: 2px solid cyan;
    padding-right: 0.5em;
    margin-right: 0.5em;
    display: inline-block;
    vertical-align: middle; }
  .field--name-field-industry:hover {
    border: 2px solid gold; }

.field--name-field-phone-number, .field--name-field-industry, .field--name-field-company-email, .field--name-field-ompany-website {
  margin-bottom: 1%; }

.views-wrap .image-style-event-image {
  padding: 0 0 10px 0; }

.views-wrap {
  background-color: #fff;
  padding: 0 0 40px 0;
  margin: 0 0.5% 0 0.5%;
  width: 24% !important; }

.layout-sidebar-second {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*background: blue;*/
  float: right;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .layout-sidebar-second a {
    text-decoration: none; }

.layout-sidebar-first {
  width: 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*background: blue;*/
  float: left;
  margin-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .layout-sidebar-first a {
    text-decoration: none; }

.mycompany-view .views-field-link-to-revision .field-content a {
  color: #fff; }

.mycompany-view .views-field-link-to-revision .field-content {
  padding: 5px;
  background-color: #29c1e1;
  border-radius: 15px;
  margin: 10px;
  transition: 0.5s; }
  .mycompany-view .views-field-link-to-revision .field-content:hover {
    background-color: #f7931d; }

.myfootermenu {
  padding-left: 2%; }
  .myfootermenu ul {
    list-style-type: none;
    padding: 0; }
  .myfootermenu li {
    line-height: 2em; }
  .myfootermenu a {
    font-size: 1em; }

.more-companies {
  background-color: #29c1e1;
  text-decoration: none;
  border-radius: 25px;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 2em; }
  .more-companies:hover {
    background-color: #f7931d; }

.myevents-page .views-row .events-views-wrap:nth-child(odd) span.views-field-field-image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.myevents-page .views-field-link-to-revision {
  padding: 10px;
  background-color: #29c1e1;
  border-radius: 25px;
  margin: 10px 10px 27px 10px;
  transition: 0.5s; }
  .myevents-page .views-field-link-to-revision a {
    color: #fff; }
  .myevents-page .views-field-link-to-revision:hover {
    background-color: #f7931d; }

.myevents-page .views-field-title {
  font-size: 1.5em; }
  .myevents-page .views-field-title a {
    color: #23282F; }

.myevents-page .views-field-body {
  width: 80%;
  padding-bottom: 1em; }
  .myevents-page .views-field-body p {
    color: #6F7379; }

/*# sourceMappingURL=../stylesheets/custom.css.map */
