.myfreeservice a {
    text-decoration: none;
    color: #fff;
}
.myfreeservice {
    padding: 2% 0 2% 0;
}
.myfreeservice a:nth-of-type(1) {
    background-color: #29c1e1;
    padding: 10px;
    border-radius: 15px;
}

.myfreeservice a:nth-of-type(2) {
    background-color: #f7931d;
    padding: 10px;
    border-radius: 15px;
}

.myfeaturedcompanies a{
    text-decoration: none;
    color: #5a5454;
    font-size: 1em;
}
.myfeaturedcompanies {
    margin-bottom: 3em;
}

.mylatestevents_block {
    background-color: #bee8f7;
    padding: 20px 0 20px 0;
    text-align: center;
    display: inline-block;
}
.mylatestevents_block a {
    text-decoration: none;
    color: #5a5454;
    text-transform: uppercase;
}
.mylatestevents_block .datetime {
    color: #f7931d;
}
.image-style-event-image {
    padding: 10px;
}
.mywelcome_left {
    float: left;
    padding-right: 20px;
}
.region.region-footer-first {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    flex-basis: auto;
    flex-grow: 1;
}
.myfootercontact {
    padding-left: 2%;
}
.myfootercontact p{
    color: #5a5454;
    font-size: 1em;
}

.newsletter-block {
    padding-left: 2%;
}

/*.events-search-block {*/
    /*display: flex;*/
    /*width: 80%;*/
    /*margin: auto;*/
    /*justify-content: center;*/
    /*background-color: #1a1a1a;*/
/*}*/

.mycompany-view a {
    text-decoration: none;
}

.mylatestevents_block h2 {
    color: #1a1a1a;
    float: left;
    padding-left: 0.5%;
}


.mycompany-view .views-field-title a {
    color: #1a1a1a;
    font-size: 1.5em;
    border-left: 3px solid #29c1e1;
    margin: 1em;
    padding-left: 0.5em;
}
.mycompany-view .views-field-field-description .field-content {
    color: #5a5454;
    margin: 1em;

}
.mycompany-view .views-field-field-company-logo img{
    float: left;
    /*padding: 1.5em;*/
    margin-bottom: 0.5em;
    margin-right: 1.5em;

}
.mycompany-view .views-row {
    float: left;
    clear: both;
    margin-bottom: 2em;
}

img.image-style-event-round-pic {
    border-radius: 50%;
    margin: 2em;
}
.sidebar-one-first .layout-content {
    width: 74%;
    float: right;
}
.sidebar-one-second .layout-content {
    width: 74%;
    float: left;
}
.sidebar-none .layout-content {
    width: 80%;
    margin: 0 auto;

}
.sidebar-both .layout-content {
    width: 50%;
}
hr.companies-hr {
    width: 50em;
    margin-top: 3em;
    display: block;
    float: left;
    clear: both;
    border-width:2px;
    border-top: 1px solid #dde7e9;
}
.mycompany-view {
    width: 80%;
    margin: auto;
}

.contextual-region.block.block-core.block-page-title-block {
    margin-left: 10%;
    color: #5a5454;
}
div.feed-icons {
    display: none;
}
span.free {
    color: #f7931d;
}
img.triangle-b {
    position: absolute;
    right: 110px;
    top: 30px;
}
img.triangle-o {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
}
.block-block-content587b424b-a01f-456d-bfa9-7df02673421c {
    height: 120px;
}
.contact-us a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    background-color: #29c1e1;
    border-radius: 20px;
    color: #fff;
}
.form--inline.clearfix {
    display: flex;
    justify-content: space-around;
}
div.highlighted {
    display: flex;
    background-color: #585858;
    justify-content: center;
}
.mylocations-page {
    width: 80%;
    margin: auto;
    text-align: center;
}
.mylocations-page a {
    text-decoration: none;
    color: #585858;
}
.mylocations-page .field-content {
    color: #f7931d;
    
}
.mylocations-page .views-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}
.mylocations-page .views-field-field-location-image {
    padding-bottom: 1em;
}
.locations-views-wrap {
    background-color: #e5edef;
    padding: 0 0 40px 0;
    margin: 0 0.5% 0 0.5%;
    width: auto !important;
}
.mylocations-page .image-style-event-image {
    padding: 0;
}
.region-highlighted {
    display: flex;
}
.myevents-page {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.myevents-page a {
    text-decoration: none;
    color: #585858;
}
.events-views-wrap {
    background-color: #E5EDEF;
    /*padding: 0 0 40px 0;*/
    margin: 0 0.5% 0 0.5%;
    /*width: auto !important;*/
}
.myevents-page .views-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    width: 29% !important;
}
.myevents-page .views-field-field-start-1 {
    font-size: 2.5em;
    color: #23282F;
    padding-top: 1.5em;
}
.myevents-page .views-field-field-start {
    padding-bottom: 2em;
}

.myevents-page .image-style-event-image {
    padding: 0 0 0 0;

}
.overlay-companies {
    position: relative;
    text-align: center;
}
.overlay-text {
    position: absolute;
    font-size: 1.5vw;
    top: 10%;
    left: 0;
    width: 100%;
    color: #fff;


}
.overlay-text span {
    font-size: 3.5vw;

}

.navigation.menu--account ul li a:hover {
    background-color: #f7931d;
}

div.slick-list {
    position: relative;
    text-align: center;
}
div.caption {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: #fff;
}
ul.slick-dots {
    margin-bottom: 4%;
}
.caption h1 {
    font-family: Karla-bold;
}
.caption p {
    font-size: 1.5em;
}
.layout-main {
    width: 80%;
    margin: 0 auto;

}
