// ========================================
//
// @file _forms.scss
// Inputs and other various form elements
//
// ========================================

label {

}

input[type=text],
input[type=email],
input[type=password] {

  &:focus {

  }
}

textarea {

  &:focus {

  }
}

input[type=checkbox] {

}

input[type=radio] {

}

input[type=file] {

  &:focus {

  }
}

.companies-search-block , .events-search-block, .locations-search-block {
  display: flex;
  //width: 100%;
  margin: auto;
  justify-content: center;
  //background-color: #585858;
    .button {
      color: #fff;
      background-color: #F7931D;
      padding: 6px 17px 6px 17px;
      border: none;
      border-radius: 5px;

    }
}
.block-block-contentd4908d44-cebf-4830-bb37-0bf5b496d426 .content {
  margin-right: 1em;
  margin-top: 1em;
  align-self: center;

  p {
    align-self: center;
    color: #fff;
    border-left: 5px solid #F7931D;
    margin-bottom: 1em;
    padding-left: 2em;
  }
}
span.search-span {
  background-color: #F7931D;
  font-size: 0.7em;
}
.block-block-content080e6166-b23b-4f58-b61b-56734157f737 .content {
  margin-right: 1em;
  margin-top: 1em;
  align-self: center;

  p {
    align-self: center;
    color: #fff;
    border-left: 5px solid #F7931D;
    margin-bottom: 1em;
    padding-left: 2em;
  }
}

.block-block-contentcd59d731-a278-46bc-b7ea-fe2a6b926f74 .content {
  margin-right: 1em;
  margin-top: 1em;
  align-self: center;

  p {
    align-self: center;
    color: #fff;
    border-left: 5px solid #F7931D;
    margin-bottom: 1em;
    padding-left: 2em;
  }
}